<!doctype html>
<html ng-app="myApp">
<title>DataverseNL Metrics</title>
<head profile="http://www.w3.org/2005/10/profile">
    <link rel="icon"
          type="image/png"
          href="https://dataverse.nl/assets/logos/DataverseNL-logo.png">
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script defer src="js/solid.js"></script>
    <script defer src="js/fontawesome.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/d3.min.js"></script>
    <script src="js/d3plus.full.js"></script>
    <script src="js/d3-queue.min.js"></script>
    <script lang="javascript" src="js/xlsx.full.min.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/html2pdf.bundle.min.js"></script>


</head>
<body style="background-color:#FFFFFF;!important;">
<div class="wrapper">
    <nav id="sidebar">
        <div ng-app="" ng-init='institutions=
        [{ "dvAlias": "4tu", "name": "4TU.Center for Research Data", "logo":"https://dataverse.nl/logos/674/4TU-logo.jpg" },
        { "dvAlias": "dans", "name": "DANS", "logo":"https://dataverse.nl/logos/686/dans.png" },
        { "dvAlias": "leidenuniversity", "name": "Leiden University", "logo":"https://dataverse.nl/logos/11481/UL%20-%20Algemeen%20-%20RGB-Kleur.jpg" },
        { "dvAlias": "maastricht", "name": "Maastricht University", "logo":"https://dataverse.nl/logos/679/UM%20driehoeken_74x100.png" },
        { "dvAlias": "niooknaw", "name": "NIOO-KNAW", "logo":"https://dataverse.nl/logos/677/NIOOlogo.png" },
        { "dvAlias": "PTHU", "name": "Protestantse Theologische Universiteit", "logo":"https://dataverse.nl/logos/240/PThU.png" },
        { "dvAlias": "tiu", "name": "Tilburg University", "logo":"https://dataverse.nl/logos/8592/265c6547-c51c-4640-9e98-6d5aa1b29e21_TilbUni_H_logo_slogan_bb.gif" },
        { "dvAlias": "tilburg_nondsa", "name": "Tilburg University - Workspace", "logo":"https://dataverse.nl/logos/678/cfab92f7-3db2-4faa-b22e-37468f5d1467_TilbUni_logo_bb.gif" },
        { "dvAlias": "groningen", "name": "University of Groningen", "logo":"https://dataverse.nl/logos/751/RUGlogo.png" },
        { "dvAlias": "UU", "name": "Utrecht University", "logo":"https://dataverse.nl/logos/695/UU_logo_EN_CMYK.png" },
        { "dvAlias": "vuamsterdam", "name": "Vrije Universiteit Amsterdam", "logo":"https://dataverse.nl/logos/672/VUlogo_NL.png" },
        { "dvAlias": "trimbos", "name": "Trimbos Instituut", "logo":"https://cf.e-vision.nl/static/trimbos/trimbos.nl/media/images/logo-timbos-wit.png" },
        { "dvAlias": "nioz", "name": "NIOZ", "logo":"https://www.nioz.nl/application/files/2814/7740/6142/nioz-logo.svg" },
        { "dvAlias": "fontys", "name": "Fontys Hogescholen", "logo":"https://dataverse.nl/logos/94267/Fontys%20Logo.jpg" },
        { "dvAlias": "UMCU", "name": "University Medical Center Utrecht", "logo":"https://dataverse.nl/logos/100081/UMCU_2019_logo_liggend_small.png" },
        { "dvAlias": "hanze", "name": "Hanzehogeschool Groningen", "logo":"https://dataverse.nl/logos/26834/HG%20nederlands%20-%20RGB%20-%20beeldmerk%20oranje,%20tekst%20zwart.png" },
        { "dvAlias": "RCE", "name": "Rijksdienst voor het Cultureel Erfgoed", "logo":"https://dataverse.nl/logos/100102/OCW_RCE_Logo_online_ex_pos_nl.png" },
        { "dvAlias": "AvansHogeschool", "name": "Avans Hogeschool", "logo":"https://dataverse.nl/logos/713/Avans.png" },
        { "dvAlias": "hr", "name": "Hogeschool Rotterdam", "logo":"https://dataverse.nl/logos/27942/HogeschoolRotterdam.png" }]
        '>
            <ul class="list-unstyled components" style="font-size:0.9em;!important">
                <a href="https://dataverse.nl"><center><img style="padding-bottom: 20px;" src="https://dataverse.nl/assets/logos/DataverseNL-logo.png" height="60%" width="60%"></center></a>
                <li>
                    <a href="#/">All Institutions</a>
                </li>
                <li ng-repeat="institution in institutions">
                    <a href="#/{{ institution.dvAlias }}" >
                        {{ institution.name }}
                    </a>
                </li>
                <div ng-repeat="institution in institutions" ng-include="">
                </div>
            </ul>
        </div>
        <br/>
        <br/>
        <br/>
        <!--        <button id="button-a" class="btn btn-primary btn-lg btn-block">Download Excel</button>-->
        <a class="btn btn-primary btn-lg btn-block" href="dataverse_tree.html?alias=root&name=DataverseNL" target="_blank" role="button">Dataverse hierarchy</a>
    </nav>
    <div id="content">
        <div ng-view></div>
    </div>
    <script type="text/ng-template" id="pages/home.html">
        <div id="section-all">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-root"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-root"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-root"></div>
        <div class="graphcenter" id="datasetsAllGraph-root"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-root"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-root"></div>
        <div class="graphcenter" id="filesAddedGraph-root"></div>
        <div class="graphcenter" id="filesDownloadGraph-root"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-all">
                <i class="fa fa-download"></i>
                Download ({{message}}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-all">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/4tu.html">
        <div id="section-4tu">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-4tu"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-4tu"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-4tu"></div>
        <div class="graphcenter" id="datasetsAllGraph-4tu"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-4tu"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-4tu"></div>
        <div class="graphcenter" id="filesAddedGraph-4tu"></div>
        <div class="graphcenter" id="filesDownloadGraph-4tu"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-4tu">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-4tu">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/dans.html">
        <div id="section-dans">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-dans"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-dans"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-dans"></div>
        <div class="graphcenter" id="datasetsAllGraph-dans"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-dans"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-dans"></div>
        <div class="graphcenter" id="filesAddedGraph-dans"></div>
        <div class="graphcenter" id="filesDownloadGraph-dans"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-dans">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-dans">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/leidenuniversity.html">
        <div id="section-leidenuniversity">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-leidenuniversity"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-leidenuniversity"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-leidenuniversity"></div>
        <div class="graphcenter" id="datasetsAllGraph-leidenuniversity"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-leidenuniversity"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-leidenuniversity"></div>
        <div class="graphcenter" id="filesAddedGraph-leidenuniversity"></div>
        <div class="graphcenter" id="filesDownloadGraph-leidenuniversity"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-leidenuniversity">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-leidenuniversity">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/maastricht.html">
        <div id="section-maastricht">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-maastricht"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-maastricht"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-maastricht"></div>
        <div class="graphcenter" id="datasetsAllGraph-maastricht"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-maastricht"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-maastricht"></div>
        <div class="graphcenter" id="filesAddedGraph-maastricht"></div>
        <div class="graphcenter" id="filesDownloadGraph-maastricht"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-maastricht">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-maastricht">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/niooknaw.html">
        <div id="section-niooknaw">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-niooknaw"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-niooknaw"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-niooknaw"></div>
        <div class="graphcenter" id="datasetsAllGraph-niooknaw"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-niooknaw"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-niooknaw"></div>
        <div class="graphcenter" id="filesAddedGraph-niooknaw"></div>
        <div class="graphcenter" id="filesDownloadGraph-niooknaw"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-niooknaw">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-niooknaw">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/PTHU.html">
        <div id="section-PTHU">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-PTHU"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-PTHU"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-PTHU"></div>
        <div class="graphcenter" id="datasetsAllGraph-PTHU"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-PTHU"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-PTHU"></div>
        <div class="graphcenter" id="filesAddedGraph-PTHU"></div>
        <div class="graphcenter" id="filesDownloadGraph-PTHU"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-PTHU">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-PTHU">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/tiu.html">
        <div id="section-tiu">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-tiu"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-tiu"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-tiu"></div>
        <div class="graphcenter" id="datasetsAllGraph-tiu"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-tiu"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-tiu"></div>
        <div class="graphcenter" id="filesAddedGraph-tiu"></div>
        <div class="graphcenter" id="filesDownloadGraph-tiu"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-tiu">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-tiu">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/tilburg_nondsa.html">
        <div id="section-tilburg_nondsa">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="datasetsAllGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="filesAddedGraph-tilburg_nondsa"></div>
        <div class="graphcenter" id="filesDownloadGraph-tilburg_nondsa"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-tilburg_nondsa">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-tilburg_nondsa">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/groningen.html">
        <div id="section-groningen">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-groningen"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-groningen"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-groningen"></div>
        <div class="graphcenter" id="datasetsAllGraph-groningen"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-groningen"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-groningen"></div>
        <div class="graphcenter" id="filesAddedGraph-groningen"></div>
        <div class="graphcenter" id="filesDownloadGraph-groningen"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-groningen">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-groningen">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/UU.html">
        <div id="section-UU">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-UU"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-UU"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-UU"></div>
        <div class="graphcenter" id="datasetsAllGraph-UU"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-UU"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-UU"></div>
        <div class="graphcenter" id="filesAddedGraph-UU"></div>
        <div class="graphcenter" id="filesDownloadGraph-UU"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-UU">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-UU">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/vuamsterdam.html">
        <div id="section-vuamsterdam">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-vuamsterdam"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-vuamsterdam"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-vuamsterdam"></div>
        <div class="graphcenter" id="datasetsAllGraph-vuamsterdam"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-vuamsterdam"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-vuamsterdam"></div>
        <div class="graphcenter" id="filesAddedGraph-vuamsterdam"></div>
        <div class="graphcenter" id="filesDownloadGraph-vuamsterdam"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-vuamsterdam">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-vuamsterdam">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/trimbos.html">
        <div id="section-trimbos">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-trimbos"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-trimbos"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-trimbos"></div>
        <div class="graphcenter" id="datasetsAllGraph-trimbos"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-trimbos"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-trimbos"></div>
        <div class="graphcenter" id="filesAddedGraph-trimbos"></div>
        <div class="graphcenter" id="filesDownloadGraph-trimbos"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-trimbos">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-trimbos">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/nioz.html">
        <div id="section-nioz">
        <h2 align="center">{{message}}</h2>
        <div class="graphcenter" id="dataversesAllGraph-nioz"></div>
        <div class="graphcenter" id="dataversesByCategoryGraph-nioz"></div>
        <div class="graphcenter" id="dataversesAddedOverTimeGraph-nioz"></div>
        <div class="graphcenter" id="datasetsAllGraph-nioz"></div>
        <div class="graphcenter" id="datasetsAddedOverTimeGraph-nioz"></div>
        <div class="graphcenter" id="datasetsSubjectGraph-nioz"></div>
        <div class="graphcenter" id="filesAddedGraph-nioz"></div>
        <div class="graphcenter" id="filesDownloadGraph-nioz"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-nioz">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-nioz">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/fontys.html">
        <div id="section-fontys">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-fontys"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-fontys"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-fontys"></div>
            <div class="graphcenter" id="datasetsAllGraph-fontys"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-fontys"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-fontys"></div>
            <div class="graphcenter" id="filesAddedGraph-fontys"></div>
            <div class="graphcenter" id="filesDownloadGraph-fontys"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-fontys">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-fontys">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/UMCU.html">
        <div id="section-UMCU">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-UMCU"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-UMCU"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-UMCU"></div>
            <div class="graphcenter" id="datasetsAllGraph-UMCU"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-UMCU"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-UMCU"></div>
            <div class="graphcenter" id="filesAddedGraph-UMCU"></div>
            <div class="graphcenter" id="filesDownloadGraph-UMCU"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-UMCU">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-UMCU">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/hanze.html">
        <div id="section-hanze">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-hanze"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-hanze"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-hanze"></div>
            <div class="graphcenter" id="datasetsAllGraph-hanze"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-hanze"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-hanze"></div>
            <div class="graphcenter" id="filesAddedGraph-hanze"></div>
            <div class="graphcenter" id="filesDownloadGraph-hanze"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-hanze">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-hanze">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/RCE.html">
        <div id="section-RCE">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-RCE"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-RCE"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-RCE"></div>
            <div class="graphcenter" id="datasetsAllGraph-RCE"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-RCE"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-RCE"></div>
            <div class="graphcenter" id="filesAddedGraph-RCE"></div>
            <div class="graphcenter" id="filesDownloadGraph-RCE"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-RCE">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-RCE">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/AvansHogeschool.html">
        <div id="section-AvansHogeschool">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="datasetsAllGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="filesAddedGraph-AvansHogeschool"></div>
            <div class="graphcenter" id="filesDownloadGraph-AvansHogeschool"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-AvansHogeschool">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-AvansHogeschool">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
    <script type="text/ng-template" id="pages/hr.html">
        <div id="section-hr">
            <h2 align="center">{{message}}</h2>
            <div class="graphcenter" id="dataversesAllGraph-hr"></div>
            <div class="graphcenter" id="dataversesByCategoryGraph-hr"></div>
            <div class="graphcenter" id="dataversesAddedOverTimeGraph-hr"></div>
            <div class="graphcenter" id="datasetsAllGraph-hr"></div>
            <div class="graphcenter" id="datasetsAddedOverTimeGraph-hr"></div>
            <div class="graphcenter" id="datasetsSubjectGraph-hr"></div>
            <div class="graphcenter" id="filesAddedGraph-hr"></div>
            <div class="graphcenter" id="filesDownloadGraph-hr"></div>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-hr">
                <i class="fa fa-download"></i>
                Download ({{ message }}) Excel
            </button>
        </div>
        <div class="graphcenter">
            <button class="btn btn-primary btn-lg" id="button-pdf-hr">
                <i class="fa fa-download"></i>
                Download ({{message}}) PDF
            </button>
        </div>
    </script>
</div>
<script>
var baseurl = "DATAVERSE_BASE_URL";
var doi_prefix = "DOI_PREFIX";

var institutions = [{ "dvAlias": "4tu,WSDVNR,Asoltani,its4land-wp1,ITS4land,testboudewijn2", "name": "4TU.Center for Research Data" }, { "dvAlias": "dans,danslabs,AvansHogeschool,erasmus", "name": "DANS" },
{ "dvAlias": "leidenuniversity", "name": "Leiden University" },
{ "dvAlias": "maastricht,DVNUB,MeyerPhDEmpirical", "name": "Maastricht University" }, { "dvAlias": "niooknaw", "name": "NIOO-KNAW" },
{ "dvAlias": "PTHU", "name": "Protestantse Theologische Universiteit" }, { "dvAlias": "tiu", "name": "Tilburg University" },
{ "dvAlias": "tilburg_nondsa", "name": "Tilburg University" }, { "dvAlias": "groningen", "name": "University of Groningen" },
{ "dvAlias": "UU", "name": "Utrecht University" }, { "dvAlias": "vuamsterdam", "name": "Vrije Universiteit Amsterdam" },
{ "dvAlias": "trimbos", "name": "Trimbos Instituut" }, { "dvAlias": "nioz", "name": "NIOZ" },
{ "dvAlias": "fontys", "name": "Fontys Hogescholen" }, { "dvAlias": "UMCU", "name": "University Medical Center Utrecht" },
{ "dvAlias": "hanze", "name": "Hanzehogeschool Groningen" }, { "dvAlias": "RCE", "name": "Rijksdienst voor het Cultureel Erfgoed" },
{ "dvAlias": "AvansHogeschool", "name": "Avans Hogeschool" }, { "dvAlias": "hr", "name": "Hogeschool Rotterdam" }];
var app = angular.module('myApp', ['ngRoute']);
app.config(function($routeProvider) {
    $routeProvider
        .when('/', {
            templateUrl: 'pages/home.html',
            controller: 'Home'
        })
        .when('/4tu', {
            templateUrl: 'pages/4tu.html',
            controller: '4tu'
        })
        .when('/dans', {
            templateUrl: 'pages/dans.html',
            controller: 'dans'
        })
        .when('/leidenuniversity', {
            templateUrl: 'pages/leidenuniversity.html',
            controller: 'leidenuniversity'
        })
        .when('/maastricht', {
            templateUrl: 'pages/maastricht.html',
            controller: 'maastricht'
        })
        .when('/niooknaw', {
            templateUrl: 'pages/niooknaw.html',
            controller: 'niooknaw'
        })
        .when('/PTHU', {
            templateUrl: 'pages/PTHU.html',
            controller: 'PTHU'
        })
        .when('/tiu', {
            templateUrl: 'pages/tiu.html',
            controller: 'tiu'
        })
        .when('/tilburg_nondsa', {
            templateUrl: 'pages/tilburg_nondsa.html',
            controller: 'tilburg_nondsa'
        })
        .when('/groningen', {
            templateUrl: 'pages/groningen.html',
            controller: 'groningen'
        })
        .when('/UU', {
            templateUrl: 'pages/UU.html',
            controller: 'UU'
        })
        .when('/vuamsterdam', {
            templateUrl: 'pages/vuamsterdam.html',
            controller: 'vuamsterdam'
        })
        .when('/trimbos', {
            templateUrl: 'pages/trimbos.html',
            controller: 'trimbos'
        })
        .when('/nioz', {
            templateUrl: 'pages/nioz.html',
            controller: 'nioz'
        })
        .when('/fontys', {
            templateUrl: 'pages/fontys.html',
            controller: 'fontys'
        })
        .when('/UMCU', {
            templateUrl: 'pages/UMCU.html',
            controller: 'UMCU'
        })
        .when('/hanze', {
            templateUrl: 'pages/hanze.html',
            controller: 'hanze'
        })
        .when('/RCE', {
            templateUrl: 'pages/RCE.html',
            controller: 'RCE'
        })
        .when('/AvansHogeschool', {
            templateUrl: 'pages/AvansHogeschool.html',
            controller: 'AvansHogeschool'
        })
        .when('/hr', {
            templateUrl: 'pages/hr.html',
            controller: 'hr'
        })
        .otherwise({
            redirectTo: '/'
        });
});

function displayGraph(dvAlias, sufficDiv) {
   if (!sufficDiv) { sufficDiv = dvAlias;}
   displayPieGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/dataverses", "#dataversesAllGraph-" + sufficDiv, "Total Dataverses");
   displayTreeMapGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/dataverses/byCategory", "#dataversesByCategoryGraph-" + sufficDiv, "category", "Dataverses by Category");
   displayBarGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/dataverses/addedOverTime  ", "#dataversesAddedOverTimeGraph-" + sufficDiv, "year", "created", "Dataverses Added Over Time");
   displayPieGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/datasets", "#datasetsAllGraph-" + sufficDiv, "Total Datasets")
   displayBarGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/datasets/addedOverTime", "#datasetsAddedOverTimeGraph-" + sufficDiv, "quarter", "created", "Datasets Added Over Time");
   displayTreeMapGraphForSubject(sufficDiv, baseurl, "-dans/" + dvAlias+ "/datasets/bySubject", "#datasetsSubjectGraph-" + sufficDiv, "subject", "Dataset by Subject");
   displayBarGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/files", "#filesAddedGraph-" + sufficDiv, "quarter", "added", "Files Added Over Time");
   displayBarGraph(sufficDiv, baseurl, "-dans/" + dvAlias + "/downloads", "#filesDownloadGraph-" + sufficDiv, "quarter", "download", "Number of File Downloads");
}

app.controller('Home', function($scope) {
    $scope.message = "All Institutions";
    var allDvAliases = institutions.map(function(val) { return val.dvAlias;}).join(",");
    displayGraph("root", "root");
    $("#button-all").click(function(){
        downloadExcel(baseurl, "root", "All Institutions");
    });
    $("#button-pdf-all").click(function(){
        var element = document.getElementById('section-all');
        var opt = configPdf('all institutions');
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('4tu', function($scope) {
    $scope.message = institutions[0].name;
    displayGraph(institutions[0].dvAlias, "4tu");
    $("#button-4tu").click(function(){
        downloadExcel(baseurl, institutions[0].dvAlias, institutions[0].name);
    });
    $("#button-pdf-4tu").click(function(){
        var element = document.getElementById('section-4tu');
        var opt = configPdf(institutions[0].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('dans', function($scope) {
    $scope.message = institutions[1].name;
    displayGraph(institutions[1].dvAlias,"dans");
    $("#button-dans").click(function(){
        downloadExcel(baseurl, institutions[1].dvAlias, institutions[1].name);
    });
    $("#button-pdf-dans").click(function(){
        var element = document.getElementById('section-dans');
        var opt = configPdf(institutions[1].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('leidenuniversity', function($scope) {
    $scope.message = institutions[2].name;
    displayGraph(institutions[2].dvAlias);
    $("#button-leidenuniversity").click(function(){
        downloadExcel(baseurl, institutions[2].dvAlias, institutions[2].name);
    });
    $("#button-pdf-leidenuniversity").click(function(){
        var element = document.getElementById('section-leidenuniversity');
        var opt = configPdf(institutions[2].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('maastricht', function($scope) {
    $scope.message = institutions[3].name;
    displayGraph(institutions[3].dvAlias, "maastricht");
    $("#button-maastricht").click(function(){
        downloadExcel(baseurl, institutions[3].dvAlias, institutions[3].name);
    });
    $("#button-pdf-maastricht").click(function(){
        var element = document.getElementById('section-maastricht');
        var opt = configPdf(institutions[3].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('niooknaw', function($scope) {
    $scope.message = institutions[4].name;
    displayGraph(institutions[4].dvAlias);
    $("#button-niooknaw").click(function(){
        downloadExcel(baseurl, institutions[4].dvAlias, institutions[4].name);
    });
    $("#button-pdf-niooknaw").click(function(){
        var element = document.getElementById('section-niooknaw');
        var opt = configPdf(institutions[4].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('PTHU', function($scope) {
    $scope.message = institutions[5].name;
    displayGraph(institutions[5].dvAlias);
    $("#button-PTHU").click(function(){
        downloadExcel(baseurl, institutions[5].dvAlias, institutions[5].name);
    });
    $("#button-pdf-PTHU").click(function(){
        var element = document.getElementById('section-PTHU');
        var opt = configPdf(institutions[5].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('tiu', function($scope) {
    $scope.message = institutions[6].name;
    displayGraph(institutions[6].dvAlias);
    $("#button-tiu").click(function(){
        downloadExcel(baseurl, institutions[6].dvAlias, institutions[6].name);
    });
    $("#button-pdf-tiu").click(function(){
        var element = document.getElementById('section-tiu');
        var opt = configPdf(institutions[6].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('tilburg_nondsa', function($scope) {
    $scope.message = institutions[7].name + ' - Workspace';
    displayGraph(institutions[7].dvAlias);
    $("#button-tilburg_nondsa").click(function(){
        downloadExcel(baseurl, institutions[7].dvAlias, institutions[7].name + ' - Workspace');
    });
    $("#button-pdf-tilburg_nondsa").click(function(){
        var element = document.getElementById('section-tilburg_nondsa');
        var opt = configPdf(institutions[7].name + ' - Workspace');
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('groningen', function($scope) {
    $scope.message = institutions[8].name;
    displayGraph(institutions[8].dvAlias,"groningen");
    $("#button-groningen").click(function(){
        downloadExcel(baseurl, institutions[8].dvAlias, institutions[8].name);
    });
    $("#button-pdf-groningen").click(function(){
        var element = document.getElementById('section-groningen');
        var opt = configPdf(institutions[8].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('UU', function($scope) {
    $scope.message = institutions[9].name;
    displayGraph(institutions[9].dvAlias, "UU");
    $("#button-UU").click(function(){
        downloadExcel(baseurl, institutions[9].dvAlias, institutions[9].name);
    });
    $("#button-pdf-UU").click(function(){
        var element = document.getElementById('section-UU');
        var opt = configPdf(institutions[9].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('vuamsterdam', function($scope) {
    $scope.message = institutions[10].name;
    displayGraph(institutions[10].dvAlias);
    $("#button-vuamsterdam").click(function(){
        downloadExcel(baseurl, institutions[10].dvAlias, institutions[10].name);
    });
    $("#button-pdf-vuamsterdam").click(function(){
        var element = document.getElementById('section-vuamsterdam');
        var opt = configPdf(institutions[10].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('trimbos', function($scope) {
    $scope.message = institutions[11].name;
    displayGraph(institutions[11].dvAlias);
    $("#button-trimbos").click(function(){
        downloadExcel(baseurl, institutions[11].dvAlias, institutions[11].name);
    });
    $("#button-pdf-trimbos").click(function(){
        var element = document.getElementById('section-trimbos');
        var opt = configPdf(institutions[11].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('nioz', function($scope) {
    $scope.message = institutions[12].name;
    displayGraph(institutions[12].dvAlias);
    $("#button-nioz").click(function(){
        downloadExcel(baseurl, institutions[12].dvAlias, institutions[12].name);
    });
    $("#button-pdf-nioz").click(function(){
        var element = document.getElementById('section-nioz');
        var opt = configPdf(institutions[12].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('fontys', function($scope) {
    $scope.message = institutions[13].name;
    displayGraph(institutions[13].dvAlias);
    $("#button-fontys").click(function(){
        downloadExcel(baseurl, institutions[13].dvAlias, institutions[13].name);
    });
    $("#button-pdf-fontys").click(function(){
        var element = document.getElementById('section-fontys');
        var opt = configPdf(institutions[13].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('UMCU', function($scope) {
    $scope.message = institutions[14].name;
    displayGraph(institutions[14].dvAlias);
    $("#button-UMCU").click(function(){
        downloadExcel(baseurl, institutions[14].dvAlias, institutions[14].name);
    });
    $("#button-pdf-UMCU").click(function(){
        var element = document.getElementById('section-UMCU');
        var opt = configPdf(institutions[14].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('hanze', function($scope) {
    $scope.message = institutions[15].name;
    displayGraph(institutions[15].dvAlias);
    $("#button-hanze").click(function(){
        downloadExcel(baseurl, institutions[15].dvAlias, institutions[15].name);
    });
    $("#button-pdf-hanze").click(function(){
        var element = document.getElementById('section-hanze');
        var opt = configPdf(institutions[15].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('RCE', function($scope) {
    $scope.message = institutions[16].name;
    displayGraph(institutions[16].dvAlias);
    $("#button-RCE").click(function(){
        downloadExcel(baseurl, institutions[16].dvAlias, institutions[16].name);
    });
    $("#button-pdf-RCE").click(function(){
        var element = document.getElementById('section-RCE');
        var opt = configPdf(institutions[16].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('AvansHogeschool', function($scope) {
    $scope.message = institutions[17].name;
    displayGraph(institutions[17].dvAlias);
    $("#button-AvansHogeschool").click(function(){
        downloadExcel(baseurl, institutions[17].dvAlias, institutions[17].name);
    });
    $("#button-pdf-AvansHogeschool").click(function(){
        var element = document.getElementById('section-AvansHogeschool');
        var opt = configPdf(institutions[17].name);
        html2pdf().set(opt).from(element).save();
    });
});
app.controller('hr', function($scope) {
    $scope.message = institutions[18].name;
    displayGraph(institutions[18].dvAlias);
    $("#button-hr").click(function(){
        downloadExcel(baseurl, institutions[18].dvAlias, institutions[18].name);
    });
    $("#button-pdf-hr").click(function(){
        var element = document.getElementById('section-hr');
        var opt = configPdf(institutions[18].name);
        html2pdf().set(opt).from(element).save();
    });
});
function displayTreeMapGraph(institution, baseurl, apiname, divId, id, title) {
    d3.json(baseurl + "/api/info/metrics" + apiname.replace(/_/g, '\+'), function(metrics) {
        if (metrics != null) {
        var visualization = d3plus.viz()
                .container(divId)
                .data(metrics.data)
                .type("tree_map")
                .id(id)
                .size("count")
                .title(title)
                .labels({
                    "align": "left",
                    "valign": "top"
                })
                .tooltip({"stacked":true,
                        "html" : function(d) {
                                },
                        "font": {size:"auto"},
                        "background": "#9cedfc"}
                )
                .ui([
                  {
                    "method": function(){
                      visualization.csv(true); // passing no values will download data as csv file
                    },
                    "value": ["Download as CSV (" + institution + " - " + title + ")"]
                  }
                ])
                .height(300)
                .width(600)
                .draw()
        }
    });
}
function displayTreeMapGraphForSubject(institution, baseurl, apiname, divId, id, title) {
    d3.json(baseurl + "/api/info/metrics" + apiname.replace(/_/g, '\+'), function(metrics) {
        if (metrics != null) {
        var visualization = d3plus.viz()
                .container(divId)
                .data(metrics.data)
                .type("tree_map")
                .id(id)
                .size("count")
                .title(title)
                .labels({
                    "align": "left",
                    "valign": "top"
                })
                .tooltip({"stacked":true,
                        "html" : function(d) {
                                },
                        "font": {size:"auto"},
                        "background": "#9cedfc"}
                )
                .height(300)
                .width(600)
                .draw()
        }
    });
}

function displayPieGraph(institution, baseurl, apiname, divId, title) {
    d3.json(baseurl + "/api/info/metrics" + apiname.replace(/_/g, '\+'), function(metrics) {
        if (metrics != null) {
         var visualization = d3plus.viz()
                .container(divId)
                .data(metrics.data)
                .type("pie")
                .id("state")
                .size("count")
                .title(title)
                .ui([
                  {
                    "method": function(){
                      visualization.csv(true); // passing no values will download data as csv file
                    },
                    "value": ["Download as CSV (" + institution + " - " + title + ")"]
                  }
                ])
                .tooltip({"stacked":true,
                        "html" : function(d) {
                                    for (let i=0; i<metrics.data.length; i++) {
                                        if(metrics.data[i].state==d) {
                                            if (!metrics.data[i].name.includes(doi_prefix)) {

                                                 if (metrics.data[i].name.length == 0) return "";//don't display when empty

                                                  var k=0;
                                                var popupTable = "<table><tr><td></td><td><b>Name</b></td><td><b>Alias</b></td><td><b>Category</b></td></tr>";
                                                 metrics.data[i].name.split("|").forEach(function(element) {
                                                   k++;
                                                   var def = element.split("#");
                                                  popupTable +=  '<tr><td><i><small>' + k + '</small></i></td><td><a href="' + baseurl + '/dataverse/' + def[1] + '" target="_blank">' + def[0] + '</a></td>'
                                                      + '<td><a href="' + baseurl + '/metrics/dataverse_tree.html?alias=' + def[1] + '&name=' + def[0] + '" target="_blank">' + def[1] + '</a></td><td>' + def[2] + '</td></tr>';
                                                });
                                                popupTable+="</table>";
                                                return popupTable;
                                            }
                                            var urls = metrics.data[i].name.split("|");
                                            var links = "<table><tr><td></td><td><center><b>Identifier</b></center></td><td><center><b>Number of files</b></center></td><td><center><b>Total Size</b></center></td></tr>";
                                            var k=0;
                                            urls.forEach(function(element) {
                                              k++;
                                              var els = element.split("-");
                                              var url = '<tr><td><i><small>' + k + '</small></i></td><td><center><a href="https://doi.org/' + els[0] + '" target="_blank">' + els[0] +'</a></center></td><td><center>' + els[1] + '</center></td><td><center>' + formatBytes(els[2]) + '</center></td></tr>';
                                              links+=url;
                                            });
                                            links+="</table>";
                                            return links;
                                        }
                                    }
                                    return metrics.data;
                                },
                        "font": {size:"auto"},
                        "large": 400,
                        "background": "#9cedfc"}
                )
                .height(500)
                .width(600)
                .draw();
        }
    });
}

function displayBarGraph(institution, baseurl, apiname, divId, idx, idy, title) {
    d3.json(baseurl + "/api/info/metrics" + apiname.replace(/_/g, '\+'), function(metrics) {
        if (metrics != null) {
        var visualization = d3plus.viz()
            .container(divId)
            .data(metrics.data)
            .type("bar")
            .id(idx)
            .x(idx)
            .y(idy)
            .title(title)
            .tooltip({"stacked":true,
                        "html" : function(d) {
                                    if (d.toString().includes("Q")){
                                        var links="";
                                        for (let i = 0; i < metrics.data.length; i++){
                                            if (metrics.data[i].quarter==d){
                                                if (metrics.data[i].created) {
                                                    var k=0;
                                                    var urls = metrics.data[i].pids.split("|");
                                                    urls.forEach(function(element) {
                                                      k++;
                                                      var url = '<i><small>' + k + '</small></i> <a href="https://doi.org/' + element + '" target="_blank">' + element +'</a><br/>';
                                                      links+=url;
                                                    });
                                                    return links;
                                                } else if (metrics.data[i].added) {
                                                    return formatBytes(metrics.data[i].size);
                                                } else if (metrics.data[i].download) {
                                                    var description = "Total download size: " + formatBytes(metrics.data[i].size) + "<br/><table><tr><td><b><center>Identifier</center></b></td><td><center><b>Number of<br/>downloads</b></center></td><td><center><b>Size</b></center></td></tr>";
                                                    metrics.data[i].desc.split("#").forEach(function(element) {
                                                      var els = element.split("-");
                                                      description+= '<tr><td><a href="https://doi.org/' + els[0] + '" target="_blank">' + els[0] +'</a></td><td><center>' + els[1] + '</center></td><td><center>' + formatBytes(els[2]) + '</center></td></tr>';
                                                      });
                                                    description+="</table>";
                                                    return description;
                                                }
                                            }
                                        }
                                    } else {
                                        for (let i = 0; i < metrics.data.length; i++){
                                            if (metrics.data[i].year==d){
                                                var k=0;
                                                var popupTable = "<table><tr><td></td><td><b>Name</b></td><td><b>Alias</b></td><td><b>Category</b></td></tr>";
                                                metrics.data[i].aliases.split("|").forEach(function(element) {
                                                    k++;
                                                   var def = element.split("#");
                                                  popupTable +=  '<tr><td><i><small>' + k + '</small></i></td><td><a href="' + baseurl + '/dataverse/' + def[1] + '" target="_blank">' + def[0] + '</a></td>'
                                                      + '<td><a href="' + baseurl + '/metrics/dataverse_tree.html?alias=' + def[1] + '&name=' + def[0] + '" target="_blank">' + def[1] + '</a></td><td>' + def[2] + '</td></tr>';
                                                });
                                                popupTable+="</table>";
                                                return popupTable;
                                            }
                                        }
                                    }
                                },
                        "font": {size:"auto"},
                        "large": 400,
                        "background": "#9cedfc"}
                )
            .ui([
              {
                "method": function(){
                  visualization.csv(true); // passing no values will download data as csv file
                },
                "value": ["Download as CSV (" + institution + " - " + title + ")"]
              }
            ])
            .height(400)
            .width(800)
            .draw();
        }
    });
}

function formatBytes(bytes) {
    if(bytes < 1024) return bytes + " Bytes";
    else if(bytes < 1048576) return(bytes / 1024).toFixed(3) + " KB";
    else if(bytes < 1073741824) return(bytes / 1048576).toFixed(3) + " MB";
    else return(bytes / 1073741824).toFixed(3) + " GB";
};


function downloadExcel(baseurl, aliases, name){
    var wb = createExcel(baseurl, aliases);
    var wbout = XLSX.write(wb, {bookType:'xlsx',  type: 'binary'});
    var todayDate = new Date().toISOString().slice(0,10);
    saveAs(new Blob([s2ab(wbout)],{type:"application/octet-stream"}), 'DataverseNLMetrics (' + name + ')-' + todayDate +'.xlsx');
}

function createExcel(baseurl, aliases){
aliases =  aliases.replace(/_/g, '\+');
var wb = XLSX.utils.book_new();
        wb.Props = {
                Title: "DataverseNL metrics",
                Subject: "Metrics",
                Author: "DANS",
                CreatedDate: new Date()
        };
$.ajax({ 
    url: baseurl + "/api/info/metrics-dans/" + aliases + "/dataverses-report", 
    dataType: 'json', 
    async: false, 
    success: function(json){ 
        //Process data retrieved

        wb.SheetNames.push("Dataverses");
        var ws_data = [["Name", "Alias", "Path", "Create Date", "Status", "Category", "Number of Datasets", "Number of Files", "Total Storage in GB"]];

        json.data.forEach(function(element) {
            var wd = [element.name, element.alias, element.path, element.createDate, element.status, element.category, element.numberOfDatasets, element.numberOfFiles, (element.totalStorage/1073741824)];
            ws_data.push(wd);
            });
        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        wb.Sheets["Dataverses"] = ws;

        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        wb.Sheets["Dataverses"] = ws;

    } 
});
var totalStorageDataset = 0;
$.ajax({ 
    url: baseurl + "/api/info/metrics-dans/" + aliases + "/datasets-report", 
    dataType: 'json', 
    async: false, 
    success: function(json){ 
        //Process data retrieved

        wb.SheetNames.push("Datasets");
        var ws_data = [["Dataverse Name", "Dataverse Alias", "Path", "Dataset Identifier", "Dataset Title", "Create Date", "Status", "Number of Files", "Storage Size in GB", "Total Downloads"]];

        json.data.forEach(function(element) {
            var wd = [element.dvName, element.dvAlias, element.dvPath, element.pid, element.dsTitle, element.createDate, element.status, element.numberOfFiles, (element.storageSize/1073741824), element.totalDownloads];
            totalStorageDataset += element.storageSize;
            ws_data.push(wd);
            });
        var totalWd =["Total storage in GB",,,,,,,,(totalStorageDataset/1073741824)];
        ws_data.push(totalWd);
        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        wb.Sheets["Datasets"] = ws;
        var ws = XLSX.utils.aoa_to_sheet(ws_data);
        wb.Sheets["Datasets"] = ws;

    } 
});

return wb;
}

function s2ab(s) {
    var buf = new ArrayBuffer(s.length);
    var view = new Uint8Array(buf);
    for (var i=0; i<s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
    return buf;
}

function configPdf(name){
    var todayDate = new Date().toISOString().slice(0,10);
    var filename = name + '-' + todayDate +'.pdf'
    var opt = {
          margin:       1,
          filename:     filename,
          image:        { type: 'jpeg', quality: 0.99 },
          html2canvas:  { scale: 2 },
          pagebreak: { mode: 'avoid-all', before: '#page2el' },
          jsPDF:        { unit: 'in', format: 'letter', orientation: 'landscape' }
        };
    return opt;
}
</script>
</body>
</html>
